.corTitle {
  margin: 8px 16px 0px 16px;
}

.corTitle h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.corContainer {
  margin: 0px 56px 8px 16px;
}

.totalUnits {
  margin-bottom: 16px;
}

.cor {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 16px;
  @apply drop-shadow-md;
}

.cor div {
  margin: 0;
  padding-right: 16px;
}

.courseCode {
  font-size: 1.5rem;
  font-weight: bolder;
  @apply text-sky-800;
}

.description {
  font-size: 1.1rem;
  font-weight: bold;
  width: 80vw;
  @apply text-sky-800;
}
